.page-header {
  position: relative;

  padding: 16px 0;  
  border-bottom: 1px solid #ececec;
  
  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__nav {
  position: relative;
}


.page-header__logo {
  @extend .logo; 
  display: inline-block;

  & .logo__studio {
    color: $title-text-color;
  }
}


.menu__button {
  position: absolute;
  right: 0;
  z-index: 2;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @include transition-base(fill);


  &:hover {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}


.main__icon-close {

  .menu__button.is-open & {
    display: none;
  }
}

 .menu__icon-open {
 display: none;

 .menu__button.is-open & {
   display: block;
 }
}

.nav-container {
  background-color: #fff;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: calc(#{$tablet} - 1px)) {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  padding: 48px 40px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

// nav-contacts
.nav-contacts {
  @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.nav-contacts__item + .nav-contacts__item {
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}

.nav-contacts__item {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  &:not(:last-child) {
    @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
      margin-top: 10px;
    }
  }
}

.nav-contacts__icon {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-right: 8px;
    fill: currentColor;
  }
}

.nav-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  @include transition-base(color, fill);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--tel {
    display: block;
    color: $accent-color;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 32px;
      @media screen and (min-width: $tablet) {
        margin: 0px;
      }
  }

  &--mail {
    display: block;
    margin-bottom: 64px;
      @media screen and (min-width: $tablet) {
        margin: 0px;
      }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    line-height: 1.14;

    font-size: 12px;
    line-height: 1.16;
    color: $primary-text-color;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}

// nav-social
.nav-social {
    @media screen and (min-width: $tablet) {
    display: none;
  }
}

.nav-social__item {
  display: inline;

  &:not(:last-child)::after{
    content: '';
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    margin-right: 10px;
  }

}

.nav-social__link {
    text-decoration: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-color;
}