.hero {
  text-align: center;
  min-width: 480px;
  padding: 118px 0;
  background-color: $bgc-1;
  color: $primary-white-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  @extend .main-button
}



// .hero {
//   text-align: center;
//   min-width: 1600px;
//   height: 600px;
//   padding: 200px 0;
//   background-color: $bgc-1;
//   color: $primary-white-color;
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/Img.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

// .hero__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   margin-top: 0;
//   margin-bottom: 30px;
//   padding: 0;
// }

// .hero-button {
//   @extend .main-button
// }