.pecularities-list {
  @media screen and (max-width: 1199px) {
    &__item:not(:last-child) {
      margin-bottom: $pecularities-list-item-gap;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.pecularities-list__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * #{$pecularities-list-item-gap}) / 2);

    &:not(:nth-child(2n)) {
      margin-right: $pecularities-list-item-gap;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * #{$pecularities-list-item-gap}) / 4);

    &:not(:last-child) {
      margin-right: $pecularities-list-item-gap;
    }
  }
}

.pecularities-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.pecularities-list__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.pecularities-list__icon {
  width: 70px;
  height: 70px;
}

.pecularities-list__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  background-color: $bgc-3;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}