.filters {
  display: flex;

  &--margin-bottom {
    margin-bottom: 50px;
  }

  @media screen and (max-width: calc(#{$tablet} - 1px)) { 
    flex-wrap: wrap;
    justify-content: start;
  }

  @media screen and (min-width: $tablet) { 
    justify-content: center;
  }
}

.filters__item {

  &:not(:last-child) {
    margin-right: $filters-item-gap;
  }

  @media screen and (max-width: calc(#{$tablet} - 1px)) { 
    &:not(:nth-child(-n + 3)) {
      margin-top: 15px;
    }
  }
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: $bgc-3;
  color: $title-text-color;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  @include transition-base(background-color, color, box-shadow);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * #{$projects-item-gap});
    margin-bottom: calc(-1 * #{$projects-item-gap});
  }
}

.projects__item {

  &--margin:not(:last-child) {
    margin-bottom: $projects-item-gap;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
    flex-basis: calc((100% - 2 * #{$projects-item-gap}) / 2);

    &--margin {
      margin-right: $projects-item-gap;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 3 * #{$projects-item-gap}) / 3);

    &--margin {
      margin-bottom: $projects-item-gap;
    }
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  @include transition-base(box-shadow);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-content {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-content__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}

.projects-content__text {
  margin-top: 4px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.projects-card-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-bgc;
  transform: translateY(100%);
  @include transition-base(transform);

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0);
  }
}

.projects-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}