.social {
  display: flex;
  justify-content: center;

  &--margin-top {
    margin-top: 16px;
  }

  &__item--margin-right:not(:last-child) {
    margin-right: 10px;
  }
}


.social__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $primary-white-color;
  border-radius: 50%;
  @include transition-base(fill, background-color);

  &:hover,
  &:focus {
    fill: $primary-white-color;
    background-color: $accent-color;
  }

  &--bgc {
    background-color: $footer-icon;
  }
}


.social__icon {
  width: 20px;
  height: 20px;
  fill: $icon-network;
  @include transition-base(fill);

  .social__link:hover &,
  .social__link:focus & {
    fill: $primary-white-color;
  }

  &--big {
    width: 44px;
    height: 44px;
    padding: 12px;
    fill: $primary-white-color;
    // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include transition-base(fill);

    &:hover,
    &:focus {
      fill: $primary-white-color;
    }
  }
}