  $main-font: Roboto, sans-serif;
  $secondary-font: Raleway, sans-serif;

  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $footer-text-color: rgba(255, 255, 255, 0.6);
  $modal-placeholder-color: rgba(117, 117, 117, 0.5);

  $sbscrb-border: rgba(255, 255, 255, 0.3);
  
  $logo-text-color: #000000;

  $bgc-1: #2f303a;
  $bgc-2: #e5e5e5;
  $bgc-3: #f5f4fa;
  $about-bgc: rgba(47, 48, 58, 0.8);
  $mobal-bgc: rgba(0, 0, 0, 0.2);
  $overlay-bgc: rgba(33, 150, 243, 0.9);
  $bgc-button: #188ce8;

  $icon-network: #afb1b8;
  $footer-icon: rgba(255, 255, 255, 0.1);